.container{
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.frame{
  background-color: white;
  width: 550px;
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center
  ;
}

.box{

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: chartreuse;
  margin: 10px;
  gap:2px;
  padding: 30px;
  width: 500px;
}
.box span{
  font-size:25px;
}
.input-fields{
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.input-fields input{
  width: 100%;
  height: 45px;
  padding-left: 10px;
  border: 1px solid black;
}
.input-fields input:hover{
  border: 1px solid rgb(0, 242, 255);
}
.buttons{

  text-align: center;
}
.buttons button{
  width: 130px;
  height: 60px;
  margin-right: 10px;
  cursor: pointer;
}

.calculate-btn{
  background-color: black;
  color: white;
}
.calculate-btn:hover{
  background-color: rgb(96, 96, 96);
}
.reset-btn{
  background-color: white;
  border: 1px solid rgb(0, 242, 255);
  color: rgb(4, 187, 196);
}
.reset-btn:hover{
  background-color: rgba(13, 13, 13, 0.076);
}


.input-field{
  margin-top:30px;
  width: 300px;
  text-align: center;
}
#outlined-basic{
  width: 420px;
}
.btnGroup{
  margin-top: 50px;
}
.btn{
  width: 200px;
  height: 75px;
}